body,
html {
    margin: 0;
    padding: 0;
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #251f32;
    color: #dddcd9;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #251f32a6;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.5s;
}

header.show {
    visibility: visible;
    opacity: 1;
}

.link {
    display: flex;
    align-items: center;
}

.link a {
    color: #dddcd9;
    font-size: 1.3rem;
}

header .github {
    margin-right: 1rem;
}

.github {
    display: flex;
    align-items: center;
}

.redirect {
    width: 1.3rem;
}

.yay {
    flex-direction: column;
}

header img {
    width: 10rem;
}

header .logo img {
    width: 3rem;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
}

.hero {
    margin-top: 10rem;
    column-gap: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 6rem;
    margin-right: 2rem;
}

h1 {
    font-weight: 800;
}

main h1 {
    font-size: 4rem;
}

.image img {
    pointer-events: none;
}

.hover {
    transition: all 200ms ease;
}

.hover:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.hover:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 1.2rem;
}

footer {
    margin: 1rem;
    text-align: center;
}

footer a {
    text-decoration: underline;
    color: #dddcd9;
}

.margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

h2 {
    font-size: 1.7rem;
}

.splide{
    max-width: 1122px;
}

.splide__slide img {
    max-width: 100%;
    height: auto;
}