.message_text_view, .modelfile_textview {
  background-color: rgba(0,0,0,0);
}
.chat_image_button {
  padding: 0;
}
.chat_image_button, .chat_image_button image {
  border-radius: 10px;
}
.editing_message_textview {
  padding: 7px;
  border-radius: 10px;
}
.model_list_box {
	padding: 0;
}
.manage_models_button {
  padding: 6px 8px 6px 8px;
  font-weight: 400;
}
.model_list_box > * {
	margin: 0;
}
.user_message > label, .response_message > label {
  padding: 7px;
  border-radius: 10px;
}
.user_message label:focus, .response_message label:focus, .editing_message_textview:focus, .code_block:focus {
	box-shadow: 0 0 1px 2px mix(@accent_color, @window_bg_color, 0.5);
}
.model_popover {
  margin-top: 6px;
  margin-bottom: 6px;
}
stacksidebar {
  border: none;
}
.image_recognition_indicator {
  padding: 0px 10px;
}
.code_block {
  font-family: monospace;
}
.terminal {
  padding: 10px;
}
.message_options_button > button {
  min-height: 20px;
}
.message > box {
  padding: 5px 5px 10px 5px;
}
