.message_text_view, .modelfile_textview {
  background-color: rgba(0,0,0,0);
}
.chat_image_button {
  padding: 0;
}
.editing_message_textview {
  border-radius: 5px;
  padding: 5px;
}
.model_list_box {
	padding: 0;
}
.manage_models_button {
  padding: 6px 8px 6px 8px;
}
.model_list_box > * {
	margin: 0;
}
.user_message:focus, .response_message:focus {
	box-shadow: 0 0 1px 2px mix(@accent_color, @window_bg_color, 0.5);
	border-radius: 2px;
}
