.modelfile_textview {
  background: transparent;
}
.message_text_view {
  padding: 0 5px 0 5px;
}
.chat_image_button {
  padding: 0;
}
.chat_image_button, .chat_image_button image, .rounded_image, .r10 {
  border-radius: 10px;
}
.model_list_box {
	padding: 0;
}
.manage_models_button {
  padding: 6px 8px 6px 8px;
  font-weight: 400;
}
.model_list_box > * {
	margin: 0;
}
.tts_message {
  border-radius: 10px;
}
.code_block:focus, .tts_message {
	box-shadow: 0 0 1px 2px mix(@accent_color, @window_bg_color, 0.5);
}
.tts_message_loading {
  border-radius: 10px;
	box-shadow: 0 0 1px 2px mix(@window_fg_color, @window_bg_color, 0.5);
}
.model_popover {
  margin-top: 6px;
  margin-bottom: 6px;
}
stacksidebar {
  border: none;
}
.category_pill {
  padding: 5px 10px;
  border-radius: 9999px;
  background-color: mix(var(--window-fg-color), var(--window-bg-color), 0.9);
}
.category_pill.circle {
  border-radius: 100%;
  padding: 10px 10px;
}
.category_pill.success {
  background-color: mix(var(--success-bg-color), var(--window-bg-color), 0.8);
}
.category_pill.error {
  background-color: mix(var(--error-bg-color), var(--window-bg-color), 0.8);
}
.category_pill.warning {
  background-color: mix(var(--warning-bg-color), var(--window-bg-color), 0.8);
}
.category_pill.accent {
  background-color: mix(var(--accent-bg-color), var(--window-bg-color), 0.8);
}
.category_pill.brown {
  background-color: mix(var(--brown-2), var(--window-bg-color), 0.8);
}
.brown {
  color: mix(var(--brown-1), var(--window-fg-color), 0.4);
}
.code_block {
  font-family: monospace;
}
.message_options_button > button {
  min-height: 20px;
}
.message > box {
  padding: 5px 5px 5px 5px;
}
.user_message label, .response_message > label, .response_message textview {
  padding: 5px;
}
.p10-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p10 {
  padding: 10px;
}
.p5 {
  padding: 5px;
}

.p20 {
  padding: 20px;
}

.p0 {
  padding: 0px;
}

.model_pfp {
  border-radius: 100%;
}

.local_model_selector {
  border-radius: 6px;
}

.generating_text_shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--window-bg-color) 100%);
}

.latex_renderer {
  background-color: transparent;
}

.br0 {
  border-radius: 0px;
}

.button_no_bold label {
  font-weight: normal;
}

.lh {
  line-height: 1.2;
}

.live_chat_background {
	filter: blur(100px) brightness(150%);
}

.loading_image {
  filter: blur(10px) brightness(50%);
}

.black_background {
  background-color: black;
  color: white;
}

/*-----------FOLDER COLOURS--------*/

.folder-blue headerbar, row.folder-blue {
  background-color: color-mix(in srgb, var(--accent-blue) 30%, transparent);
  color: color-mix(in srgb, var(--accent-blue) 50%, currentColor);
}
.button-blue {
  color: var(--accent-blue);
}

.folder-teal headerbar, row.folder-teal {
  background-color: color-mix(in srgb, var(--accent-teal) 30%, transparent);
  color: color-mix(in srgb, var(--accent-teal) 50%, currentColor);
}
.button-teal {
  color: var(--accent-teal);
}


.folder-green headerbar, row.folder-green {
  background-color: color-mix(in srgb, var(--accent-green) 30%, transparent);
  color: color-mix(in srgb, var(--accent-green) 50%, currentColor);
}
.button-green {
  color: var(--accent-green);
}


.folder-yellow headerbar, row.folder-yellow {
  background-color: color-mix(in srgb, var(--accent-yellow) 30%, transparent);
  color: color-mix(in srgb, var(--accent-yellow) 50%, currentColor);
}
.button-yellow {
  color: var(--accent-yellow);
}


.folder-orange headerbar, row.folder-orange {
  background-color: color-mix(in srgb, var(--accent-orange) 30%, transparent);
  color: color-mix(in srgb, var(--accent-orange) 50%, currentColor);
}
.button-orange {
  color: var(--accent-orange);
}


.folder-red headerbar, row.folder-red {
  background-color: color-mix(in srgb, var(--accent-red) 30%, transparent);
  color: color-mix(in srgb, var(--accent-red) 50%, currentColor);
}
.button-red {
  color: var(--accent-red);
}


.folder-pink headerbar, row.folder-pink {
  background-color: color-mix(in srgb, var(--accent-pink) 30%, transparent);
  color: color-mix(in srgb, var(--accent-pink) 50%, currentColor);
}
.button-pink {
  color: var(--accent-pink);
}


.folder-purple headerbar, row.folder-purple {
  background-color: color-mix(in srgb, var(--accent-purple) 30%, transparent);
  color: color-mix(in srgb, var(--accent-purple) 50%, currentColor);
}
.button-purple {
  color: var(--accent-purple);
}

.folder-slate headerbar, row.folder-slate {
  background-color: color-mix(in srgb, var(--accent-slate) 30%, transparent);
  color: color-mix(in srgb, var(--accent-slate) 50%, currentColor);
}
.button-slate {
  color: var(--accent-slate);
}

