.message_input_scroll_window junction {
  box-shadow: none;
  border: none;
  background: blue;
}

.message_input_scroll_window > * {
    box-shadow: none;
    border-width: 0;
}
.message_text_view {
  background-color: rgba(0,0,0,0);
}
.chat_image_button {
  padding: 0;
}
.editing_message_textview {
  border-radius: 5px;
  padding: 5px;
}
