.modelfile_textview {
  background: transparent;
}
.message_text_view {
  padding: 0 5px 0 5px;
}
.chat_image_button {
  padding: 0;
}
.chat_image_button, .chat_image_button image, .rounded_image {
  border-radius: 10px;
}
.editing_message_textview {
  padding: 7px;
  border-radius: 10px;
}
.model_list_box {
	padding: 0;
}
.manage_models_button {
  padding: 6px 8px 6px 8px;
  font-weight: 400;
}
.model_list_box > * {
	margin: 0;
}
.user_message > label, .response_message > label, .response_message textview {
  border-radius: 5px;
  padding: 5px;
}
.user_message label:focus, .response_message label:focus, .editing_message_textview:focus, .code_block:focus {
	box-shadow: 0 0 1px 2px mix(@accent_color, @window_bg_color, 0.5);
}
.model_popover {
  margin-top: 6px;
  margin-bottom: 6px;
}
stacksidebar {
  border: none;
}
.category_pill {
  padding: 0px 10px;
}
.code_block {
  font-family: monospace;
}
.terminal {
  padding: 10px;
}
.message_options_button > button {
  min-height: 20px;
}
.message > box {
  padding: 5px 5px 5px 5px;
}
.latex_equation {
	padding: 10px;
}
.bottom_clamp {
	padding: 12px;
}

.model_flowbox, .model_flowbox .model_box, .p10 {
  padding: 10px;
}

.model_flowbox flowboxchild {
	border-radius: 12px;
	padding: 0;
}

.flowbox_no_padding flowboxchild {
  padding: 0;
}

.model_pfp {
  border-radius: 100%;
}

.local_model_selector {
  border-radius: 6px;
}

.model_flowbox flowboxchild:selected > * {
	background-color: unset;
}

/*-----------MACOS STUFF-----------*/

window.macos windowcontrols > button > image {
    background-size: contain;
    border: none;
    color: transparent;
    font-size: 1px;
}
window.macos windowcontrols > button {
    min-width: 10px;
    min-height: 10px;
    padding: 0px;
}
window.macos windowcontrols {
    padding-left: 5px;
}

window.macos windowcontrols > button.close > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#cb4e43" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14"/><path fill="#fe6254" d="M8 14.5a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13"/></svg>') no-repeat center;
}
window.macos windowcontrols > button.maximize > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#20a932" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14"/><path fill="#28d33f" d="M8 14.5a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13"/></svg>') no-repeat center;
}
window.macos windowcontrols > button.minimize > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#caa124" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14"/><path fill="#fdc92d" d="M8 14.5a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13"/></svg>') no-repeat center;
}

window.macos windowcontrols:hover > button.close > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#cb4e43" d="M8 15.002a7 7 0 1 0 0-14 7 7 0 0 0 0 14"/><path fill="#fe6254" d="M8 14.488a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13"/><path d="M5.169 5.091a1 1 0 0 0 0 1.414L6.583 7.92 5.169 9.334a1 1 0 0 0 0 1.414 1 1 0 0 0 1.414 0l1.414-1.414 1.414 1.414a1 1 0 0 0 1.414 0 1 1 0 0 0 0-1.414L9.411 7.92l1.414-1.415a1 1 0 0 0 0-1.414 1 1 0 0 0-1.414 0L7.997 6.505 6.583 5.091a1 1 0 0 0-1.414 0" opacity=".5"/></svg>') no-repeat center;
}
window.macos windowcontrols:hover > button.maximize > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><g fill-rule="evenodd"><path fill="#20a932" d="M8.002 14.999a7 7 0 1 0 0-14 7 7 0 0 0 0 14"/><path fill="#28d33f" d="M8.002 14.507a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13"/></g><path d="m6.41 4.98 4.587 4.585V5.98c0-.415-.585-1-1-1zM4.998 6.392V9.98c0 .416.584 1 1 1h3.586z" opacity=".5"/></svg>') no-repeat center;
}
window.macos windowcontrols:hover > button.minimize > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><g transform="translate(-266 -584.52)scale(3.7795)"><g fill-rule="evenodd"><path fill="#caa124" d="M72.496 158.625a1.852 1.852 0 1 0 0-3.704 1.852 1.852 0 0 0 0 3.704"/><path fill="#fdc92d" d="M72.496 158.493a1.72 1.72 0 1 0 0-3.44 1.72 1.72 0 0 0 0 3.44"/></g><rect width="2.117" height=".529" x="71.438" y="156.51" opacity=".5" ry=".265"/></g></svg>') no-repeat center;
}

window.macos windowcontrols > button.close:active > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#cb4e43" d="M8 15.002a7 7 0 1 0 0-14 7 7 0 0 0 0 14" style="fill-rule:evenodd"/><path fill="#fe6254" d="M8 14.488a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13" style="fill:#cb4e43;fill-opacity:1;fill-rule:evenodd"/><path d="M5.169 5.091a1 1 0 0 0 0 1.414L6.583 7.92 5.169 9.334a1 1 0 0 0 0 1.414 1 1 0 0 0 1.414 0l1.414-1.414 1.414 1.414a1 1 0 0 0 1.414 0 1 1 0 0 0 0-1.414L9.411 7.92l1.414-1.415a1 1 0 0 0 0-1.414 1 1 0 0 0-1.414 0L7.997 6.505 6.583 5.091a1 1 0 0 0-1.414 0" opacity=".5" style="stroke-width:3.7795"/></svg>') no-repeat center;
}
window.macos windowcontrols > button.maximize:active > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#20a932" fill-rule="evenodd" d="M8.002 14.999a7 7 0 1 0 0-14 7 7 0 0 0 0 14"/><path d="m6.41 4.98 4.587 4.585V5.98c0-.415-.585-1-1-1zM4.998 6.392V9.98c0 .416.584 1 1 1h3.586z" opacity=".5"/></svg>') no-repeat center;
}
window.macos windowcontrols > button.minimize:active > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#caa124" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14" style="fill-rule:evenodd"/><rect width="8" height="2" x="3.998" y="6.992" opacity=".5" ry="1" style="stroke-width:3.7795"/></svg>') no-repeat center;
}

window.macos.maximized windowcontrols > button.maximize:hover > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><g fill-rule="evenodd"><path fill="#20a932" d="M8 14.999a7 7 0 1 0 0-14 7 7 0 0 0 0 14"/><path fill="#28d33f" d="M8 14.507a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13"/></g><path d="M8.025 3.414V7c0 .416.585 1 1 1h3.586zM3.39 8l4.586 4.586V9c0-.416-.585-1-1-1z" opacity=".5"/></svg>') no-repeat center;
}
window.macos.maximized windowcontrols > button.maximize:active > image {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#20a932" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14" style="fill-rule:evenodd"/><path d="M8.025 3.414V7c0 .416.585 1 1 1h3.586zM3.39 8l4.586 4.586V9c0-.416-.585-1-1-1z" opacity=".5"/></svg>') no-repeat center;
}
