[Desktop Entry]
Name=alpaca
Exec=alpaca
Icon=${SNAP}/meta/gui/com.jeffser.Alpaca.svg
Terminal=false
Type=Application
Categories=Utility;Development;Chat;
Keywords=ai;ollama;llm
X-Purism-FormFactor=Workstation;Mobile;
